/* ---------------
font styles link
---------------- */
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Nunito&display=swap');

/*----------------
 common styles
 --------------- */
body{
    font-family: 'Arvo', serif;
font-family: 'Nunito', sans-serif;
margin: 0px;

}
a{
    text-decoration: none;

}
header{
    margin: 50px 80px;
   
    
}
main{
    margin: 50px 80px;
}


header:hover .fa-arrow-right{
    width: 200px;
    padding-right: 40px;
    background-image: radial-gradient(pink,rgb(83, 83, 83));
    border-radius: 20px;
    
    
}
body:hover .first-h1{
 color: rgb(139, 91, 0);
}

/*-------------------------
 header element's styles
 ------------------------ */
 .three-dots{
     display:none;
 }
 .Top-section{
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 .navigation-bar>ul{
    display: flex;
    
     }
 .navigation-bar>ul>li{
list-style: none;
padding: 5px 10px;
 }
 .navigation-bar>ul>li>a{
color: black;
color:#3A3A3A;

 }

 .header-contents{
     display: flex;
     padding-top: 40px;
        justify-content: center;
        flex-direction:row;
        align-items: center;
 }
 .header-texts{
    width: 60%;
 }
 .header-texts a{
     color: white;
     padding: 5px 15px;
     border-radius: 20px;
     background-color: #E02C6D;
 }
 .header-texts i{ padding-left: 10px;
 }
 
 .header-image{
    width: 40%;
    /* height: 475px; */
    background-image: url(./images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 50px;

}
 .header-image img{
 width:100%;


 }
 .container{
     width: 1200px;
 }



.brands_layer{
    margin: 80px 0 ;
}
hr{
  border: 0px;
    height: 1px;
    background-image: radial-gradient(rgba(0, 0, 0, 0.158),rgb(255, 255, 255) );
}

 
/*-------------------------
   main element's styles
 ------------------------ */
 .all_gears_section{
    
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
    }


 .all_gears_section>h2{
text-align: center;
padding-bottom: 20px;
 }
 .gears{
display: grid;
grid-template-columns: repeat(3,1fr);
grid-gap: 20px;
justify-content:center;
 }
 .gear{
    width: 320px;
    height: 480px;
    background: white;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 20px 0 0 20px;
 }
 .gear_image{
    margin-bottom: 5px;
 }
 .gear_info>h3{
    margin-top: 15px;
    margin-bottom: 0%;
    padding-left: 0%;
    font-size: 30px;
 }
 .gear_info>h4{
    margin-top: 10px;
    margin-bottom: 0%;
    font-size: 25px;
    font-weight: 500;
    font-family:sans-serif;
 }
 .ratings{
margin-top: 5px;
color: #FB8200;
font-size: 12px;
 }
 .ratings span{
margin-top: 5px;
color: #5E6366;
margin-left: 5px;
font-weight: 700;
font-size: 15px;
 }
 .brand_names {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    align-items: center;
    
}
 .gear_info p{
color:#5E6366 ;
font-weight: 700;
margin: 0;
 }
 .see-more-button{
     position: relative;
     left:90%;
     color: #E02C6D
     ;font-weight: 700;
 }

.products{
    position: relative;
    border-radius: 20px;
    border: 1px solid white;
    overflow: hidden;

}

.products_img img{
    width: 300px;
    border-radius: 20px;

}
 .products_details{
    position: absolute;
    top: 0;
    width: 300px;
    display: none;
    border-radius: 20px;
    font-size: 14px;


 }
 .products_details h2{
     text-align: center;
 }

 .Exchange-or-rent:hover .products_details {
    display: block;
    background-color: rgba(192, 192, 192, 0.432);
    color: rgb(0, 0, 0);
    


}

.Exchange-or-rent:hover .products_img {
    transform: scale(2);
    transition: transform 4s ease;


}

.Exchange-or-rent{
    display: grid;
 
    grid-template-columns: repeat(3,1fr);
    margin-top: 50px;
}
.service{
    padding-left: 20px;
  
}
.form-items{
    padding: 5px 20px;
    background-color: rgba(192, 192, 192, 0.432);
    border-radius: 20px;
    margin: 5px;
    text-align: center;
}
.reg-form{
    padding-left: 50px;
}

/*-----------------
     Footer
-----------------*/
 .footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #03030e;
    color: white;
    padding: 50px 0px ;
    
 }
 .footer h2,h3{
     font-weight: 200;
     margin: 0px;
     padding: 10px;
 }
 #copyright_motto{
     margin-bottom: 30px;
 }
 
 .footer-icons{
     color: white;
     padding: 10px 15px;
     border: 0px solid;
     margin: 0px 10px;
     background-color: rgba(255, 255, 255, 0.068);
     border-radius: 40px;
    
 }

 /*--------------------
      Media-Queries
 --------------------- */


 /* mobile view  */

@media screen and (max-width:576px) {
    header {
        margin: 10px 35px;
    }
    .three-dots{
        display: block;
        width: 54px;
    }
    .nav-options{
        display: none;
    }
    .navigation-bar>ul>li {
        list-style: none;
        padding: 0;
    }
    .Top-section {
        width: 100%;
        display: flex;
       flex-direction: row;
        align-items: center;
        justify-content:space-between;
    }
    .header-contents {
        display: flex;
        padding-top: 40px;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        
    }
    .header-image {
        margin-top: 30px;
    }
    .brand_names {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        align-items: center;
        justify-items: center;
        justify-content: space-around;
    }
    .brand_names img{
        padding: 10px;
    }
    main {
        margin: 0px 6px;
    }
    .gears {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 20px;
        justify-content: center;
        justify-items: center;
        align-items: center;
    }
    .see-more-button {
        position: relative;
        left: 70%;
       
    }
    .Exchange-or-rent{
        display: flex;
        flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    }
}


 /* tablet view  */
@media screen and (min-width:577px) and (max-width:768px) {
    .header-image {
        
        margin-left: 10px;
        width: 40%;
    }
    .header-contents {
        display: flex;
        padding-top: 40px;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        width: 80%;
    }
    header {
        margin: 17px 33px;
    }
    .brand_names {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        align-items: center;
        justify-content: center;
    }
    main {
        
            margin: 8px 8px;
            width: 100%;
        
    }
    .gears {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 20px;
        justify-content: center;
        align-items: center;
        justify-self: center;
        
    }
    .all_gears_section h2 {
        display: block;
        font-size: 2em;
        
        text-align: center;
    }
    .see-more-button {
        position: relative;
        left: 70%;
        
    }
    .all_gears_section{
        width: 97%;
        
        justify-items: center;
    }
}